<html>
    <head type="text/javascript">
    <title>contact-manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" type="text/javascript" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/javascript" href="/client/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="css" href="/client/styles.css">

    <!-- 1. Load Libraries -->
    <script type="javascript" src="/node_modules/core-js/client/shim.min.js"></script>
    <script type="javascript" src="/node_modules/zone.js/dist/zone.js"></script>
    <script type="javascript" src="/node_modules/reflect-metadata/Reflect.js"></script>
    <script type="javascript" src="/node_modules/systemjs/dist/system.src.js"></script>

    <!-- Configure SystemsJS -->
    <script type="javascript" src="systemjs.config.js"></script>
    <script type="javascript">
      System.import('/app').catch(function(err){ console.error(err); }); 
    </script>

    <!-- Load application -->
    <contact-manager>
    Loading..
    <contact-manager>
</head>
<body></body>
</html>