/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";

mat-card {
    padding: 5px;
    margin-top: 20px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: #3f51b5;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 20px;
    }

.example-full-width-floating-row {
    background-color: #2aabd2;
    border: 2px solid darkblue;
    /* we want the border to be kept within the row height */
    box-sizing: border-box;
    /* get the row to fill the available height */
    height: 100%;
    /* grid sets white-space to one line, need to reset for wrapping the text*/
    white-space: normal;
}
.example-full-width-row {
    background-color: #bbffbb;
    border: 2px solid #22ff22;
    /* we want the border to be kept within the row height */
    box-sizing: border-box;
    /* get the row to fill the available height */
    height: 100%;
    /* grid sets white-space to one line, need to reset for wrapping the text*/
    white-space: normal;
}
/* to help highlight the example, shade blue to top and bottom floating*/
.ag-floating-top .ag-row {
    background-color: lightblue !important;
}
.ag-floating-bottom .ag-row {
    background-color: lightblue !important;;
}