
          <mat-card><mat-card style="width: 650px">
            <mat-card-title align="center" style="font-size: 50px; font-weight: bolder; letter-spacing: 5px"><b>My Contacts</b></mat-card-title></mat-card></mat-card>
            <mat-card>

            <mat-card-content>
                <ag-grid-angular (rowClicked)="onRowClicked" id="myGrid"
                style="height: 500px"
                class="ag-theme-balham"
                [gridOptions]="gridOptions"
                [columnDefs]="columnDefs"
                [rowData]="rowData"
                [rowSelection]="single"
                [suppressHorizontalScroll]="true"
                [enableSorting]="false"
                [enableFilter]="false"
                [suppressCellSelection]="true"
                >
                </ag-grid-angular>

        
        </mat-card-content>

    </mat-card>

        <mat-card>
       <mat-card-title align="center"><app-dialog></app-dialog></mat-card-title></mat-card>







