
<html>
    


<header></header>
        <body>
       <div align="center">
        <div class = "mat-middlenav-container" align="left">
          <h4 align="center">My Contacts</h4>
          <ag-grid-angular
          style="width:800px; height:500px"
          class="ag-theme-balham"
          [enableSorting]="false"
          [enableFilter]="false"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          >
          </ag-grid-angular>
        </div>
      </div>
        <form><app-dialog></app-dialog></form>

      </body>
      </html>




